
<h1>餐廳後台</h1>
  <%= link_to 'New Restaurant', new_admin_restaurant_path %>
    <table  class="table table-hover">
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th colspan="3", align="center">Operation</th>
      </tr>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.id %></td>
        <td><%= restaurant.name %></td>
        <td><%= link_to 'Show', admin_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Edit', edit_admin_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Delete', admin_restaurant_path(restaurant), method: :delete, data: {confirm:"Are you sure?"} %></td>
      </tr>
    <% end %>
    </table>
<%= paginate @restaurants %>  

